
<div>

  <div>
      <h3 class="animated fadeIn fast">The Avengers</h3>
  </div>

  <div>
      <p class="animated fadeIn">
        Cuando el hermano de Thor, Loki (Tom Hiddleston), logra acceder al poder ilimitado del Cubo Cósmico, Nick Fury (Samuel L. Jackson), director de la agencia para mantener la paz internacional, inicia el reclutamiento de unos superhéroes para vencer una amenaza sin precedente contra la Tierra. Al equipo de ensueño de Fury se unen Iron Man (Robert Downey Jr.), Capitán América (Chris Evans), Hulk (Mark Ruffalo), Thor (Chris Hemsworth), Viuda Negra (Scarlett Johansson) y Ojo de Halcón (Jeremy Renner).
      </p>
  </div>

</div>