<h1>Héroes <small>Marvel y DC</small></h1>
<hr>
<div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let Heroe of heores; let i = index">
        <img class="card-img-top" [src]="Heroe.img" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ Heroe.nombre }}</h5>
            <p class="card-text">{{ Heroe.bio }}</p>
            <p class="card-text"><small class="text-muted">{{ Heroe.aparicion }}  - Creador:  {{ Heroe.casa }}</small></p>
            <button (click)="direccionar(i)" class="btn btn-outline-primary btn-block">Ver más...</button>
        </div>
    </div>
</div>